<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Chat UI with Vuejs</title>
  <link rel="stylesheet" href="css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
</head>

<body>

<div id="chatbox" >
	<div id="friendslist">
    	<div id="topmenu">
        	<span class="friends"></span>
            <span class="chats" ></span>
            <span class="history"></span>
        </div>

        <div id="friends" >
            <div v-for="(bot, key) in bots">
                <div class="friend bot"  v-bind:id="key">
                    <img v-bind:title="bot.name" v-bind:src="bot.avatar" />
                    <p>
                        <strong>{{bot.name}}</strong><br>
                        <span>{{bot.link}}</span>
                    </p>
                    <div class="status available"></div>
                </div>
            </div>
            <div v-for="(friend, key) in friends">
                <div class="friend person" v-on:click="click">
                    <img v-bind:src="friend.avatar" />
                    <p>
                        <strong>{{friend.name}}</strong>
                        <span>{{friend.email}}</span>
                    </p>
                    <div v-bind:class="friend.status"></div>
                </div>
            </div>
            <form id="search" v-on:submit.prevent="search">
	            <input type="text" v-model="query" id="searchfield" placeholder="Search contacts..." v-on:input="search" />
            </form>
            
        </div>                
        
    </div>	
    
    <div id="chatview" class="p1">    	
        <div id="profile">
            <div id="close">
                <div class="cy"></div>
                <div class="cx"></div>
            </div>
            <p>{{chat_partner.name}}</p>
            <span>{{chat_partner.link}}</span>
        </div>
        <div  id="chat-messages">
        	<label>{{new Date()}}</label>

            <!--<div class="message right">
            	<img v-bind:src="user.avatar" />
                <div class="bubble">
                	Can you share a link for the tutorial?
                    <div class="corner"></div>

                </div>
            </div>
            <div class="message">
            	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <div class="bubble">
                    Can you share a link for the tutorial?
                    <div class="corner"></div>

                </div>
            </div>
            <div class="message right">
            	<img v-bind:src="user.avatar" />
                <div class="bubble">
                    Can you share a link for the tutorial?
                    <div class="corner"></div>
                </div>
            </div>
            <div class="message">
            	<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/1_copy.jpg" />
                <div class="bubble">
                    Can you share a link for the tutorial?
                    <div class="corner"></div>
                    <span>1 Min</span>
                </div>
            </div>-->
            <span class="typing-span">{{typing}}</span>
        </div>

        <form id="sendmessage" v-on:submit.prevent="sendMessage">
        	<input type="text" ref="mymsg" placeholder="Write message..." v-on:input="showTyper"/>
            <button id="send"></button>
        </form>
    
    </div>        
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script  src="js/index.js"></script>
</body>

</html>
